<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">.gm-err-container{height:100%;width:100%;display:table;background-color:#e0e0e0;position:relative;left:0;top:0}.gm-err-content{border-radius:1px;padding-top:0;padding-left:10%;padding-right:10%;position:static;vertical-align:middle;display:table-cell}.gm-err-content a{color:#4285f4}.gm-err-icon{text-align:center}.gm-err-title{margin:5px;margin-bottom:20px;color:#616161;font-family:Roboto,Arial,sans-serif;text-align:center;font-size:24px}.gm-err-message{margin:5px;color:#757575;font-family:Roboto,Arial,sans-serif;text-align:center;font-size:12px}.gm-err-autocomplete{padding-left:20px;background-repeat:no-repeat;background-size:15px 15px}
    </style>

    <style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
    </style>

     <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
    </style>
    <style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style>
    <style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
    </style>
<title>t.taps</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/32/10/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/32/10/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/32/10/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/32/10/marker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


    <style type="text/css">.gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }</style><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/32/10/onion.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/32/10/controls.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/32/10/stats.js"></script>

    <div ng-app="myApp">

    </head><body id="myPage">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-large" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-red">Close
    <i class="fa fa-remove"></i>
  </a>
  <p><h2>Our Mission</h2> Here at t.tap, we believe that everyone should be hydrated. That's why for every t.tap you buy, we will donate one to someone in need.</p>
  <img src="http://www.smallstarter.com/wp-content/uploads/2013/11/1._drinking_water_business_in_africa_4.jpg" alt="Africa" style="width:100%" align="middle" ><br><br>
  <p><h4>See how our product is making a difference in communities in South Africa</h4></p>
  <a href="http://www.smallstarter.com/browse-ideas/packaged-drinking-water-business-in-africa/" class="w3-bar-item w3-button">Quenching the Thirst - Packaged Water</a>
  <a href="https://www.georgeherald.com/News/Article/General/tap-it-brings-water-to-hoogekraal-school-20170710" class="w3-bar-item w3-button">Bringing Water to Elementary Schools</a>
  <a href="https://www.mediaupdate.co.za/publicity/31532/tap-it-brings-safe-water-solution-to-southern-cape" class="w3-bar-item w3-button">Safe Water Solutions for South Africa</a>
  
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-blue"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Passion</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Our Mission<i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="http://www.smallstarter.com/browse-ideas/packaged-drinking-water-business-in-africa/" class="w3-bar-item w3-button">Quenching the Thirst - Packaged Water</a>
      <a href="https://www.georgeherald.com/News/Article/General/tap-it-brings-water-to-hoogekraal-school-20170710" class="w3-bar-item w3-button">Bringing Water to Elementary Schools</a>
      <a href="https://www.mediaupdate.co.za/publicity/31532/tap-it-brings-safe-water-solution-to-southern-cape" class="w3-bar-item w3-button">Safe Water Solutions for South Africa</a>
    </div>
  </div>
  <a href="#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Price</a>
  <a href="#contact1" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#work" class="w3-bar-item w3-button">About Us</a>
    <a href="#pricing" class="w3-bar-item w3-button">Price</a>
    <a href="#contact1" class="w3-bar-item w3-button">Contact</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/30710921_102551493938529_2154329859130378772_n.jpg?_nc_cat=0&oh=883e6090563e21d296ab43baef0024a0&oe=5B27A6B7" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-red" title="Go To W3.CSS">What are t.taps?</button>
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-red w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-red w3-display-topright"><i class="fa fa-remove"></i></span>
      <h2>What are t.taps?<br></h2>
      <h4>t.taps are the newest revelation in drink dispensery! Perfect for any type of outdoor event or indoor gathering, and is an excellent choice for catering!<br><br></h4>
      <h5>t.taps help reduce plastic usage from jugs and bottles by 90%! <br> </h5>
    </header>
    <div class="w3-container">
      <p>Still not hooked?</p>
      <p>Check out our <a class="w3-text-red" href="https://www.facebook.com/ttap.beveragedispensers.3">Facebook page</a> or watch the video below to learn more!</p>
    <iframe width=max-width height=auto src="https://www.youtube.com/embed/Xd8yIt98x0g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br><br></div>
    <footer class="w3-container w3-red" <br><br>
      
    </footer>
  </div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<h1>Our Passion</h1>
<p>No matter where you are in the world, we know you have to do 2 things:<b> <br><br>hydrate, and enjoy life.</b> 
<br><br>

With t.taps, these needs go hand in hand. We've combined the convenience of dispensable drinks with the simplicity and mobility of bagged beverages, making the perfect mobile cooler for any occasion. Skip the hassle of pulling around a clumsy drink container and use t.taps to pop into the world of bagged beverages today. Just look at what some of our newest fans have to say about t.taps!</p><br> t.taps supports hydrating for a cause.<br><br> <h4><b>Click the red + for more information about our philanthropic mission.
</b></h4>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t31.0-8/30171399_102598680600477_3712978326645902441_o.jpg?_nc_cat=0&oh=a2877317c64740cacdc72b966c46723b&oe=5B272C92" alt="Vernazza" style="width:100%">
  <div class="w3-container">
  <h3>The Smith Party</h3>
  <h4>Local Sport Fans</h4>
  <p>"Perfect for tailgating!" -Jessie</p>
  <p>"Beats having to deal with bottles!" -Tyler</p>
  <p>"So easy to use!" -Peyton Manning</p>
  <p>"Wishing I'd found this sooner!" -John Madden </p><br><br><br><br>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/30740496_102598100600535_5299622475377925083_n.jpg?_nc_cat=0&oh=73418c1fb2e8a08c24152c013d08b660&oe=5B59AE82" alt="Cinque Terre" style="width:100%">
  <div class="w3-container">
  <h3>Delta Psi Beta House</h3>
  <h4>Regional Frat Bros</h4>
  <p>"Easily my best party purchase" -Chad</p>
  <p>"Makes pouring our nonalcoholic bevarages quick and easy!" -Brad</p>
  <p>"Perfect for staying hydrated!" -Thad</p>
  <p>"Brooo...t.taps!" -Thad</p><br><br><br>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/30742127_102598103933868_9115033208673557206_n.jpg?_nc_cat=0&oh=29a025dc11fb675601a717d82b943257&oe=5B5272A3" alt="Monterosso" style="width:100%">
  <div class="w3-container">
  <h3>The Jefferson's BBQ</h3>
  <h4>Your Everyday Party Crew</h4>
  <p>"I can't believe how easy it is!" -Sara</p>
  <p>"This thing is the real deal." -Brian</p>
  <p>"I love how you make a difference with the donation!" -Abbie</p>
  <p>"I'll never go back to regular drink jugs." -Emile</p> <br>
  </div>
  </div>
</div>

</div>

<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-red" style="position:absolute;top:-28px;right:24px">+</a>
</div>

<!-- Pricing Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="pricing">
    <h1>Pricing</h1>
    <p>Choose a pricing plan that fits your hydration needs.</p><br>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Individual</p>
        </li>
        <li class="w3-padding-16"><b>2</b> t.taps for you</li>
        <li class="w3-padding-16"><b>60</b> uses</li>
        <li class="w3-padding-16"><b>2</b> t.taps donated</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-usd"></i> 10</h2>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-red w3-padding-large"><i class="  fa fa-cart-plus"></i> Purchase</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme-l2">
          <p class="w3-xlarge">Party</p>
        </li>
        <li class="w3-padding-16"><b>10</b> t.taps for you</li>
        <li class="w3-padding-16"><b>300</b> uses</li>
        <li class="w3-padding-16"><b>10</b> t.taps donated</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-usd"></i> 45</h2>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-red w3-padding-large"><i class="  fa fa-cart-plus"></i> Purchase</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Block Party</p>
        </li>
      <li class="w3-padding-16"><b>50</b> t.taps for you</li>
        <li class="w3-padding-16"><b>1500</b> uses</li>
        <li class="w3-padding-16"><b>50</b> t.taps donated</li> 
        <li class="w3-padding-16">
          <h2 class="w3-wide"><i class="fa fa-usd"></i> 225</h2>
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button onclick="document.getElementById('id04').style.display='block'" class="w3-button w3-red w3-padding-large"><i class="  fa fa-cart-plus"></i> Purchase</button>
        </li>
      </ul>
    </div>
</div>

<!-- Modal Individual Order Purchase Button -->
<div id="id02" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-red w3-display-container"> 
      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-red w3-display-topright"><i class="fa fa-remove"></i></span>
      <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-red w3-bottombar">Review Your Order</span></div>
      <h3>Individual Package </h3>
      <p><br></p>
      <p><i class=" fa fa-credit-card-alt w3-text-red w3-xlarge"></i>&nbsp;&nbsp;now accepting all major credit cards</p>
      <br>
     
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 " action="/orderIND.html" target=_self>
     <div class="w3-section">      
       <p><h4><i class=" fa fa-shopping-cart w3-text-red w3-xxlarge"></i><b><br>2 </b> t.taps for you </h4></p>
      </div>
      <div class="w3-section">      
         <p><h4><i class=" fa fa-tint w3-text-red w3-xxlarge"></i>&nbsp;&nbsp;<b><br>2</b> t.taps donated</h4> <br><br></p>
      </div>
       <div class="w3-section">      
        <p><i class=" fa fa-usd w3-text-red w3-xxlarge"></i>&nbsp;&nbsp;10<br><br></p>

      </div>
       <button type="submit" class="w3-button w3-middle w3-theme">Order Now</button>
      </form>
    </div>
  </div>
</div>
  </div>
</div>

<!-- Modal Party Order Purchase Button -->
<div id="id03" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-red w3-display-container"> 
      <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-red w3-display-topright"><i class="fa fa-remove"></i></span>
      <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-red w3-bottombar">Review Your Order</span></div>
      <h3>Party Package </h3>
      <p><br></p>
      <p><i class=" fa fa-credit-card-alt w3-text-red w3-xlarge"></i>&nbsp;&nbsp;now accepting all major credit cards</p>
      <br>
     
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 " action="/orderPARTY.html" target=_self>
     <div class="w3-section">      
       <p><h4><i class=" fa fa-shopping-cart w3-text-red w3-xxlarge"></i><b><br>10 </b> t.taps for you </h4></p>
      </div>
      <div class="w3-section">      
         <p><h4><i class=" fa fa-tint w3-text-red w3-xxlarge"></i>&nbsp;&nbsp;<b><br>10</b> t.taps donated</h4> <br><br></p>
      </div>
       <div class="w3-section">      
        <p><i class=" fa fa-usd w3-text-red w3-xxlarge"></i>&nbsp;&nbsp;45<br><br></p>
        
      </div>
       <button type="submit" class="w3-button w3-middle w3-theme">Order Now</button>
      </form>
    </div>
  </div>
</div>
  </div>
</div>

<!-- Modal Block Party Order Purchase Button -->
<div id="id04" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-red w3-display-container"> 
      <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-red w3-display-topright"><i class="fa fa-remove"></i></span>
      <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-red w3-bottombar">Review Your Order</span></div>
      <h3>Block Party Package </h3>
      <p><br></p>
      <p><i class=" fa fa-credit-card-alt w3-text-red w3-xlarge"></i>&nbsp;&nbsp;now accepting all major credit cards</p>
      <br>
     
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 " action="/orderBLOCK.html" target=_self>
     <div class="w3-section">      
       <p><h4><i class=" fa fa-shopping-cart w3-text-red w3-xxlarge"></i><b><br>50</b> t.taps for you </h4></p>
      </div>
      <div class="w3-section">      
         <p><h4><i class=" fa fa-tint w3-text-red w3-xxlarge"></i>&nbsp;&nbsp;<b><br>50</b> t.taps donated</h4> <br><br></p>
      </div>
       <div class="w3-section">      
        <p><i class=" fa fa-usd w3-text-red w3-xxlarge"></i>&nbsp;&nbsp;225<br><br></p>
        
      </div>
       <button type="submit" class="w3-button w3-middle w3-theme">Order Now</button>
      </form>
    </div>
  </div>
</div>
  </div>
</div>


<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>
<p>Meet the minds behind t.taps...sort of:</p>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/30710717_102856100574735_5549849248969487898_n.jpg?_nc_cat=0&oh=5c948f52b14a7c81b3c092b2829d3425&oe=5B6E693D" alt="Boss" style="width:42%" class="w3-circle w3-hover-opacity">
  <h3>Ryan Glintenkamp</h3>
  <p>Web Designer</p>
</div>

<div class="w3-quarter">
  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/30725773_102587597268252_7636678143239960674_n.jpg?_nc_cat=0&oh=88dfa0a65a3a8e76e27e3332969ba413&oe=5B6DF9CD" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Emily Diehl</h3>
  <p>Database Specialist<br></p>
</div>

<div class="w3-quarter">
  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/30713031_102587590601586_8538093173691674104_n.jpg?_nc_cat=0&oh=c356d82d6c1b86be897d2c87665755b0&oe=5B632804" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Abbey Bolton</h3>
  <p>Think Tank Executive</p>
</div>

<div class="w3-quarter">
  <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/30742206_106869616840050_3346982366991481598_n.jpg?_nc_cat=0&oh=a682b0a029bed2d570b5b1ad8a804727&oe=5B64E671" alt="Boss" style="width:50%" class="w3-circle w3-hover-opacity">
  <h3>PJ Vlok</h3>
  <p>Chief Inventor</p>
</div>

</div>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact1">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-red w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>Tell us your t.taps story today.</p>
      <p><i class="fa fa-map-marker w3-text-red w3-xlarge"></i>&nbsp;&nbsp;Knoxville, TN</p>
      <p><i class="fa fa-phone w3-text-red w3-xlarge"></i>&nbsp;&nbsp;+1800-8675309</p>
      <p><i class="fa fa-envelope-o w3-text-red w3-xlarge"></i>&nbsp;&nbsp;ttaps2018@gmail.com</p>
    </div>
   
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white">
      <div class="w3-section">      
        <label>Name<br></label>
          <input type="text" class="form-control" ng-model="Full_Name" required><br>
      <div class="w3-section">   
          <label>Email<br></label>   
          <input type="Email" class="form-control" ng-model="Email" required><br>
      </div>
      <div class="w3-section">      
        <label>Message<br></label>
          <input type="text" class="form-control" ng-model="Description" required><br>
      </div>  

      <input class="w3-check" type="checkbox" checked="" name="Like">
      <label>I Like it!</label>
      <button type="submit" class="w3-button w3-right w3-theme" ng-click="save()">Send</button>
      </form>
    </div>
  </div>
</div>

  </div>
</div>

<!-- Google Maps -->
<div id="googleMap" style="width: 100%; height: 420px; position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Oops! Something went wrong.</div><div class="gm-err-message">This page didn't load Google Maps correctly. See the JavaScript console for technical details.</div></div></div></div></div>
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(35.9606,-83.9207);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=
&callback=myMap"></script>


<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-red" href="https://www.facebook.com/ttap.beveragedispensers.3" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-red" href="https://www.twitter.com/" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-red" href="https://www.instagram.com/" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-red w3-hide-small" href="https://www.linkedin.com/feed/" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by an enormous amount of brain power and only a few tears</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-red w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

var app = angular.module('myApp', []);
app.controller('r_controller', function($scope, $http) {
   $http.get("mysql/fp_review")
   .then(function (response) {
      $scope.names = response.data;
      // console.log(response.data);
  });
});

app.controller('c_controller', function($scope, $http) {
  $scope.save = function () {
    $http.post("mysql/fp_review", {"Full_Name": $scope.Full_Name, "Email": $scope.Email,"Description": $scope.Description})
    .then(function (response) {
        // $scope.added = response.data;
        $scope.results = response.data;
        console.log(response.data);
    });
  }    
});

</script>



</body></html>